@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.lower-layer {
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79.17%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.upper-layer {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 79.17%);
  position: absolute;
  top: 0;
  right: 0;
}

.lazy-load-image-background {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 1.5s infinite linear;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* button #d9008d  */
/* skeleton #262728 */
